#
# you must install or insert this file into your ~/.ssh/config to work correctly
# note that this will indeed lead to a possible man in the middle attack
# in the general case, but that's not terribly likely for the benchruns
# onto the created servers. 
# 
# this implies that you SHOULD NOT run perfrun on a general purpose host
# that you ssh from all the time since it could expose you to a mitm attack
# on something else. vm's are cheap. spin one up and run perfrun inside it.
#
Host *
   StrictHostKeyChecking no
#   UserKnownHostsFile=/dev/null          
