# leave this server name alone unless you really want shoot yourself in the foot.
APP_HOST='app.burstorm.com'
# use the Burstorm app to create the by editing your member profile
# and scrolling down to API Key:
APP_KEY='your-api-key'
APP_SECRET = 'your-api-secret'
